<!--
<script src="{{ .Site.BaseURL }}/assets/splide.min.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/splide.min.css">
-->

<!-- Options for splide: https://splidejs.com/guides/options/ -->
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide', {
      rewind: true,
      autoplay: true
    });
    splide.mount();
  } );
</script>

<div class="homepage-stats">

<section class="splide" aria-label="Splide Basic HTML Example">
  
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
			  <h1> 281 per 100,000 </h1>
			  <h3> 
			  
			  Oklahoma's female incarceration rate was 281 per 100,000 as of 2018, <a href="https://www.prisonpolicy.org/global/women/2018.html"> among the worst in the entire world</a>. If Oklahoma cut that rate in half, it would still be above the national average. 
			  
			  </h3>
			  </li>
			<li class="splide__slide">
			  <h1> 21+% </h1>
			  <h3> 
			  
			  Thanks to reform efforts, Oklahoma's Department of Corrections Prison population has <a href = "https://thecrimereport.org/2022/09/20/oklahomas-justice-success-story/">declined over 21% in the past five years</a>, with no resulting spike in crime or threat to public safety. We still have the third highest incarceration rate in the nation / world, however, so there's more work to be done. 
			  
			  </h3>
			</li>
			<li class="splide__slide">
			  <h1> ~$1,300.00 </h1>
			  <h3> 
			  
			  Oklahoma district courts order defendants to pay an average of <a href ="https://okpolicy.org/rural-oklahomans-frequently-carry-larger-burden-for-court-fines-fees/"> around $1,300 per case in court fines and fees, affecting both rural and urban counties</a>. The vast majority of these fines and fees go unpaid, and are a huge barrier to escaping the cycle of incarceration and poverty. 
			  
			  </h3>
			  </li>
		</ul>
  </div>
  
    <button class="splide__toggle" type="button">
	  <span class="splide__toggle__play">Play</span>
	  <span class="splide__toggle__pause">Pause</span>
  </button>
  
</section>

</div>