@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

html {
  scroll-behavior: smooth;
}

/* floating TOC */
.floating-toc {
  position: sticky;
  top: 50px;
  align-self: start;
  min-width: fit-content;
}

.floating-toc li {
  padding-top: 5px;
}

.floating-toc li a:hover {
  font-weight: 700;
}

.floating-toc li.active > a {
  font-weight: bold;
  color: #000000;
  background-color: rgba(255, 193, 7, 1);
  border-radius: 15px;
  padding: 5px;
}

.floating-toc a {
  transition: all 100ms ease-in-out;
}

/* Light and dark mode for links */
body.light-theme a {
  color: #000000;
}

body.dark-theme a {
  color: #FFC107;
}

/* Light and dark mode for post titles */
body.light-theme .post-title {
  color: #000000;
}

body.dark-theme .post-title {
  color: #FFC107;
}

body.dark-theme .archive h1 {
  color: #FFC107;
}

.content {
  margin-top: 0px;
}

sup {
  color: #FFC107;
}

.stat-highlight {
  color: #FFC107;
  font-size: 50pt;
  font-weight: bold;
  text-align: center;
  padding: -40px;
  margin: 0px;
}

.logo__cursor {
  background: #FFC107;
}

.left {
  float: left;
  margin: 0px;
  padding-right: 20px;
}

.plotly {
  margin: auto;
}

/* for embedded shinyapps */
.shinyapp-med {
  display: block;
  margin-left: -25%;
  width: 150%;
}

.shinyapp-large {
  display: block;
  margin-left: -50%;
  width: 200%;
}

/* Homepage specific stuff */
.homepage-recents iframe {
  margin: auto;
}

.homepage-header {
 color: #ffffff;
 padding-top: 2%;
 /* 
 height: calc(90vh - 150px);
 max-height: 1500px;
 min-height: 1050px; 
 */
 background-size: cover;
 background-repeat: no-repeat;
 padding-bottom: 2%;
 background-image: url('img/prison-3.jpg');
}

.light-theme .homepage-header {
    color: #ffffff;
  }

.light-theme .homepage-header h3 a {
  color: #ffffff;
}

.homepage-header > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  font-weight: 500;
  text-align: left;
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
}

.homepage-header > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 300;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.homepage-header img {
  max-height: 12vh;
}

.dark-theme .homepage-content h3 {
 color: #FFC107;
}

.homepage-content {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}

.homepage-blurb {
 float: left;
 margin-left: 10px;
 margin-right: 10px;
 width: 20%;
 text-align: left;
}

.homepage-whois {
  margin: auto;
  width: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.homepage-recents {
 float: left;
 margin-left: 60px;
 margin-right: 60px;
 width: 30%;
 text-align: left;
}

.homepage-stats {
  margin: auto;
  width: 50%;
  flex-wrap: wrap;
  padding-top: 0px;
  font-weight: 100;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

.homepage-stats > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.splide__slide {
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Phone adjustments -----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  
  .figure {
    width: 90vw;
  }
  
  .pagination__buttons {
    width: 90vw;
  }
  
  /* Disables floating TOC for mobile */
  .floating-toc {
    display: none;
}
  
  .homepage-blurb {
    width: 80vw;
  }
  
  .homepage-recents {
    width: 80vw;
  }
  
  .homepage-header {
    background-image: none;
    height: auto;
    min-height: 0px;
  }
  
  .homepage-header > h1 {
    text-align: center;
  }
  
  .homepage-header > h2 {
    text-align: center;
  }
  
  .light-theme .homepage-header {
    color: #000000;
  }
  
  
  .light-theme .homepage-header h3 a {
    color: #000000;
  }
  
  .homepage-stats {
    width: 80vw;
  }
  
  .homepage-stats h1 {
    font-size: 6vw;
    font-weight: 600;
  }
  
  .homepage-stats h3 {
    font-size: 4vw;
    font-weight: 100;
  }
  
}

.homepage-blurb button {
  background-color: #FFC107;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 80%;
}

/* Add a background color on hover */
.dark-theme .homepage-blurb button:hover {
  background-color: #ffffff;
}

.light-theme .homepage-blurb button:hover {
  background-color: #000000;
  color: #ffffff;
}



