@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

/* Light and dark mode for links */
body.light-theme a {
  color: #000000;
}

body.dark-theme a {
  color: #FFC107;
}

/* Light and dark mode for post titles */
body.light-theme .post-title {
  color: #000000;
}

body.dark-theme .post-title {
  color: #FFC107;
}

body.dark-theme .archive h1 {
  color: #FFC107;
}

.content {
  margin-top: 0px;
}

sup {
  color: #FFC107;
}

.stat-highlight {
  color: #FFC107;
  font-size: 50pt;
  font-weight: bold;
  text-align: center;
  padding: -40px;
  margin: 0px;
}

.logo__cursor {
  background: #FFC107;
}

.left {
  float: left;
  margin: 0px;
  padding-right: 20px;
}

.plotly {
  margin: auto;
}

/* for embedded shinyapps */
iframe {
  display: block;
  margin-left: -25%;
  width: 150%;
}

/* Homepage specific stuff */
.homepage-recents iframe {
  margin: auto;
}

.homepage-header {
 color: #ffffff;
 margin-top: 0px;
 padding-top: 2%;
 padding-bottom: 2%;
 background-image: url('img/prison-3.jpg');
 font-family: 'Roboto', sans-serif;
}

.dark-theme .homepage-content h3 {
 color: #FFC107;
}

.homepage-content {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}

.homepage-blurb {
 float: left;
 margin-left: 10px;
 margin-right: 10px;
 width: 20%;
 text-align: left;
}

.homepage-whois {
  margin: auto;
  width: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.homepage-recents {
 float: left;
 margin-left: 60px;
 margin-right: 60px;
 width: 30%;
 text-align: left;
}

.homepage-stats {
  margin: auto;
  width: 60%;
  flex-wrap: wrap;
  padding-top: 5%;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

.splide__slide {
  padding-bottom: 40px;
}

/* Phone adjustments -----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .homepage-blurb {
    width: 100%;
  }
  
  .homepage-recents {
    width: 100%;
  }
  
  .homepage-header {
    background-image: none;
  }
  
  .light-theme .homepage-header {
    color: #000000;
  }
  
}

.homepage-blurb button {
  background-color: #FFC107;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 80%;
}

/* Add a background color on hover */
.dark-theme .homepage-blurb button:hover {
  background-color: #ffffff;
}

.light-theme .homepage-blurb button:hover {
  background-color: #000000;
  color: #ffffff;
}



